<template>
  <div>
    <h2>Microfrontend</h2>
    <div>
      <button @click="goto('/app_1')">
        go to remote 1 app (React.js)
      </button>

      <button @click="goto('/app_2')">
        go to remote 2 app (Vue.js)
      </button>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    goto: function(path) {
      this.$router.push(path);
    }
  }
};
</script>
