<template>
  <div>
    <button @click="start_react_app">
      start app
    </button>
    <button @click="stop_react_app">
      stop app
    </button>
    <div id="react_app">
    </div>
  </div>
</template>

<script>

async function import_remote1(callback) {
  callback(await import("remote1/main.js"));
}

export default {
  methods: {
    load_remote1_app: async function() {
      import_remote1((data) => {
        // console.log(data);
        this.dom = document.getElementById("react_app");
        console.log(data);
        this.remote1 = data;
        this.start_remote1_app();
      });
      // console.log(this.remote1);
    },
    start_remote1_app: function() {
      this.remote1.start_app(this.dom, "/app_1");
    },
    stop_remote1_app: function() {
      this.remote1.stop_app(this.dom);
    }
  },
  mounted: function() {
    // window.alert("nice");
    this.load_remote1_app();
    // this.start_remote1_app();

  },
  beforeDestroy: function() {
    this.stop_remote1_app();
  }
};
</script>
