<template>
  <div>
    <button @click="start_remote2_app" >
      start app
    </button>

    <button @click="stop_remote2_app">
      stop app
    </button>

    <div v-if="show">
      <div ref="vue_app" id="vue_app"/>
    </div>
  </div>
</template>

<script>

async function import_remote2(callback) {
  callback(await import("remote2/main.js"));
}


export default {
  data: function() {
    return {
      show: true,
    };
  },
  methods: {
    load_remote2_app: async function() {
      import_remote2((module) => {
        this.module = module;
        this.start_remote2_app();
      });
    },
    start_remote2_app: function() {
      if (this.module != null) {
        this.show = true;
        this.$nextTick(() => {
          this.app_instance = this.module.start_app(this.$refs.vue_app, "/app_2");
        })
      }
    },
    stop_remote2_app: function() {
      this.show = false;
      this.module.stop_app(this.app_instance);
    }
  },
  mounted: function() {
    this.load_remote2_app();
  }
};
</script>
